# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Git
.git/
.gitignore

# Archivos temporales
build_log.txt
*.log

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db